---
import Layout from '../layouts/Layout.astro';
import NewsList from '../components/News';

---

<Layout title="News">
	<main>
		<div class="app">
			<NewsList />
		</div>
	</main>
</Layout>

<style>
	
</style>
