.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.news-list-item {
  padding: 15px;
  height: -webkit-fill-available;
  max-width: 320px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.news-list-item h6 {
  color: aquamarine;
}

.news-list-item p {
  text-align: left;
}

.news-list-item-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  z-index: 5;
  cursor: pointer;
}

.news-list-item-image {
  width: 100%;
  height: auto;
  max-height: 162px;
}

.meta {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  margin: 10px;
  cursor: pointer;
}

.selected {
  color: red
}